<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- reflecting any modification done on the data -->
<input [value]="inputValue" (keyup)="changeInput(inputRef.value)" #inputRef>

<div>{{date | date:'MMM dd yyyy'}}</div>

<ng-template #blankImage let-courseName="matteo">
    <p class="warn">{{courseName}} has not image yet</p>
    <img src="/assets/empty-image.png">
</ng-template>

<div class="courses">
    <!-- *NGFOR AND ITS AUXILIARY FEATURES -->
    <course-card *ngFor="let course of courses; index as i; first as isFirst; even as isEven; odd as isOdd" 
        [course]="course" 
        [cardIndex]="i + 1"
        [class.is-first]="isFirst"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        [style.background]="style()"
        (courseSelected)="printEventListener($event)"
        [noImageTpl]="blankImage"
        >

        <course-image [src]="course.iconUrl"></course-image>

        <div class="course-description" >
            {{course.longDescription}}
        </div>
        
    </course-card>
    <!-- <course-card [course]="rxjsCourse" (courseSelected)="print($event)"></course-card> -->
    <!-- <course-card [course]="ngrxCourse" (courseSelected)="print($event)"></course-card> -->

</div>



